* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: yellowgreen;
    padding: 10px;
}

#titulo-principal {
    margin-left: 10px;
    display: inline-block;
}

nav {
    display: inline-block;
    position: relative;
    left: 37%;
}

.container {
    background-color: skyblue;
    width: 80%;
    /* position: relative;
    left: 10%;*/
    margin: 0 auto;
}

#seccion-subscripcion {
    background-color: tomato;
    padding: 10px;
}

section#seccion-subscripcion h1 {
    margin-left: 10px;
    display: inline-block;
}

form {
    display: inline-block;
    position: relative;
    left: 53%;
}

#main {
    background-color: rgb(228, 228, 84);
    padding: 10px;
    height: 635px;
}

img {
    float: left;
    margin-right: 8px;
}

#columna-principal {
    padding: 10px;
    width: 65%;
    background-color: wheat;
    float: left;
}

#barra-lateral {
    padding: 10px;
    width: 30%;
    margin-top: 10px;
    background-color: thistle;
    float: right;
}

.elemento-lateral {
    margin-top: 10px;
    background-color: lavender;
}

footer {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(117, 78, 101);
}